{% extends "base.html.twig" %}

{% block title %}
    {{ title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h1><span>National Parks</span></h1>
    <div class='container'>
    {% for park in parks %}
        <div>
            <p>
                <a href="{{ path("app_showinfo", { 'data': park.nombre|replace({' ': ''})}) }}">
                    {{ park.nombre }}
                </a>
            </p>
            <p>{{ park.provincia }}</p>
            <p>{{ park.ecosistema }}</p>
            <img src="/images/{{ park.fichero }}" alt="{{ park.nombre }}">
        </div>
    {% endfor %}
</div>
{% endblock %}
