{% extends "base.html.twig" %}

{% block title %}
    {{ title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h1><span>National Parks</span></h1>
    <a class='container'>
    {% for park in parks %}
        
                <a href="{{ path("app_showinfo", { 'id': park.id}) }}">
                    {{ park.nombre }}
                </a>
            <p>{{ park.provincia }}</p>
            <p>{{ park.ecosistema }}</p>
            <img src="/images/{{ park.ficheiro }}" alt="{{ park.nombre }}">
        </a>
    {% endfor %}
</div>
{% endblock %}
