{% extends 'base.html.twig' %}

{# {% block title %}
    {{ title }} | {{ parent() }}
{% endblock %} #}

{% block body %}

<h1 class='nat-information'>National Parks Information</h1>
<div class='container-info'>
<h2 class='h2-info'>Here are your results: </h2>
<br>
<h3 class='h3-result'>
    {{ park.nombre }}
</h3>
<div class='showinfo-div'>
<img src="{{ park.ficheiro }}" alt=" {{park.ficheiro}}" />
<br><br>

Here's the link to the homepage:
<a href='{{ path("app_homepage")}}'>Homepage</a>
</div>
</div>
{% endblock %}
