{% extends 'base.html.twig' %}
    {% block title %}
        {{title}} | {{ parent() }}
        {% endblock %}
{% block body %}

<h1 id='nat-information'>National Parks: Information</h1>
<br><br><br><br><br>
<h2 class='h2-info'>Here are your results: </h2>
<br><br><br>

    
<h3>
{{result}}
</h3>

<img src={{photo}} alt={{result}}></img>

    
<br><br><br><br><br>

Here's the link to the homepage:
<br><br>
<a href='/' target="_noblank">Homepage</a>
{% endblock %}